
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">



    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Полезные ссылки</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="About">О себе</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Blog">Блог</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Связаться со мной</h4>
                    <p>
                    <p><strong>Телефон: </strong>+7 985-310-27-53</p>
                    <p><strong>Телефон(WhatsApp): </strong><a href="https://api.whatsapp.com/send/?phone=79057387380" target="_blank">+7 905-738-73-80</a></p>
                    <br />
                    <p><strong>Почта: </strong>elenatimofeeva10@yandex.ru</p><br>
                   

                </div>

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Ссылки на соц.сети:</h3>
                    <div class="social-links mt-3">
                        <p>Ссылки на мои аккаунты:</p>
                        <a href="https://www.instagram.com/lelena.timofeeva/" target="_blank" class="instagram" title="Мой инстаграм"><i class="bx bxl-instagram"></i></a>
                        <a href="https://vk.com/idlelenatimofeeva" target="_blank" class="vk" title="Моя страница ВКонтакте"><i class="bx bxl-vk"></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=79057387380" target="_blank"><i class="bx bxl-whatsapp"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer>