
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Добро пожаловать на мой сайт!</h2>
                <p class="animate__animated animate__fadeInUp">Меня зовут Тимофеева Елена Григорьевна. Я - педагог с многолетним стажем в работе с детьми дошкольного возраста. Имею высшее дошкольное, дефектологическое, логопедическое, а также музыкальное образования, которые активно применяю в своей работе с детьми
</p>
                <a asp-controller="Home" asp-action="About" class="btn-get-started animate__animated animate__fadeInUp">Хотите узнать больше обо мне?</a>
            </div>
        </div>


        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Хотите узнать чем я занимаюсь?</h2>
                <p class="animate__animated animate__fadeInUp">Здесь Вы можете следить за моей преподавательской деятельностью</p>
                <a asp-controller="Home" asp-action="Blog" class="btn-get-started animate__animated animate__fadeInUp">Следить</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Желаете узнать что-то новое?</h2>
                <p class="animate__animated animate__fadeInUp">Здесь Вы можете ознакомиться с информацией для родителей</p>
                <a asp-controller="AdditionalInformation" asp-action="ForParents" class="btn-get-started animate__animated animate__fadeInUp">Перейти</a>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Остались вопросы?</h2>
                <p class="animate__animated animate__fadeInUp">Буду рада оказаться для Вас полезной, а также ответить на все интересующие вопросы</p>
                <a asp-controller="Home" asp-action="Contacts" class="btn-get-started animate__animated animate__fadeInUp">Перейти</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section>