@model Test.ViewModels.PostViewModel
<main id="main">

    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">

                <h2>
                    <a asp-controller="Home" asp-action="Index">Главная</a>
                    / <a asp-controller="Home" asp-action="Blog">Дополнительная информация</a>
                    / <a asp-controller="AdditionalInformation" asp-action="ForParents">Для родителей</a>
                    / Редактировать пост
                </h2>

            </div>

        </div>
    </section>

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-12 entries">
                    <article class="entry entry-single">
                        <form asp-action="Edit" asp-controller="AdditionalInformation" method="post" enctype="multipart/form-data">
                            <div class="form-group blog-settings">
                                <label asp-for="Title" class="control-label">Заголовок</label>
                                <input type="text" asp-for="Title" class="form-control" />
                            </div>
                            <div class="form-group blog-settings img-settings">
                                @if (!string.IsNullOrEmpty(Model.ImageName))
                                {<div class="entry-img">
                                        <img src="@("~/img/forparents/title/" + Model.ImageName)" asp-append-version="true" alt="" class="img-fluid" />
                                        <input asp-for="ImageName" hidden />
                                    </div>
                                }
                            </div>
                           
                            <div class="form-group blog-settings">
                                <label asp-for="File" class="control-label">Титульное изображение: </label>

                                <input type="file" asp-for="File" accept="image/*" />


                            </div>
                            <div class="form-group blog-settings">
                                <label asp-for="ShortDesc" class="control-label">Краткое описание</label>
                                <input type="text" asp-for="ShortDesc" class="form-control" />
                            </div>
                            <div class="form-group blog-settings">
                                <label asp-for="Content" class="control-label">Содержание</label>
                                <textarea class="editor" asp-for="Content"></textarea>
                            </div>
                              <div id="tags" class="form-group blog-settings">
                                <label asp-for="EditTags" class="control-label">Тэги:</label>
                                @if(Model.PostTags != null)
                                {
                                     @foreach (var tag in Model.PostTags.Split("~").ToHashSet())
                                {
                                    <input type="text" list="browsers" class="tag-settings" asp-for="EditTags" value="@tag" />

                                }
                                }
                               
                                <input type="button" class="btn btn-success addTags" onclick="addTag()" value="Добавить">
                                <input type="button" class="btn btn-danger removeTags" onclick="removeTag()" value="Удалить">
                                @if (Model.Tags != null)
                                {
                                    <datalist id="browsers">
                                        @foreach (var tag in Model.Tags.ToHashSet())
                                        {
                                            <option value="@tag" />
                                        }
                                    </datalist>
                                }
                            </div>
                            <div class="form-group blog-settings">
                                <button type="submit" class="btn btn-success">Изменить</button>
                            </div>

                        </form>
                    </article>
                </div>
            </div>
        </div>
    </section>

</main>
