@rendermode InteractiveServer
@using Radzen
@using Radzen.Blazor
@inject NavigationManager NavManager
@implements IDisposable


<RadzenHeader style="z-index: 1050; position: fixed; width: 100%; top: 0; height: 60px;">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" class="rz-p-2">
        <RadzenSidebarToggle Click="@ToggleMenu" />
        <RadzenLabel Text="Панель управления" style="font-weight: 700; font-size: 1.2rem; margin-left: 10px;" />
        
        <div style="margin-left: auto; padding-right: 20px;">
            <a href="/api/auth/logout" style="color: var(--text-secondary); text-decoration: none; display: flex; align-items: center; gap: 5px;">
                <i class="fa-solid fa-right-from-bracket"></i> Выйти
            </a>
        </div>
    </RadzenStack>
</RadzenHeader>
<RadzenSidebar @bind-Expanded="@sidebarExpanded" class="admin-sidebar" style="padding-top: 60px; z-index: 1040;">
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Дашборд" Icon="dashboard" Path="/admin" />
        <RadzenPanelMenuItem Text="Статьи блога" Icon="article" Path="/admin/articles" />
        <RadzenPanelMenuItem Text="Отзывы" Icon="reviews" Path="/admin/reviews" />
        <RadzenPanelMenuItem Text="Категории" Icon="label" Path="/admin/categories" />
        <RadzenPanelMenuItem Text="Обо мне" Icon="person" Path="/admin/about" />
        <RadzenPanelMenuItem Text="Тесты" Path="/admin/quizzes" Icon="quiz" />
        <RadzenPanelMenuItem Text="Карточки" Path="/admin/flashcards" Icon="style" />
        <RadzenPanelMenuItem Text="Профиль" Icon="manage_accounts" Path="/admin/profile" />
        <RadzenPanelMenuItem Text="Настройки" Icon="settings" Path="/admin/settings" />
        <RadzenPanelMenuItem Text="Логи и Состояние" Icon="monitor_heart" Path="/admin/system" />
        <RadzenPanelMenuItem Text="Вернуться на сайт" Icon="home" Path="/" style="margin-top: 50px; border-top: 1px solid var(--rz-secondary-light);" />
    </RadzenPanelMenu>
</RadzenSidebar>
@code {
    bool sidebarExpanded = true;

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += OnLocationChanged;
    }

    private void ToggleMenu()
    {
        sidebarExpanded = !sidebarExpanded;
    }

    private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        sidebarExpanded = false;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= OnLocationChanged;
    }
}
