<footer>
    <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 20px;">
        <a href="#" class="logo" style="font-size: 1.1rem;">
            <i class="fa-solid fa-shapes"></i> Елена Тимофеева
        </a>
        
        <p style="font-size: 0.9rem;">&copy; @DateTime.Now.Year Частная логопедическая практика. Все права защищены.</p>
        
       @*  <div style="font-size: 0.9rem;">
            <a href="#" style="color: var(--text-secondary); text-decoration: none; margin-left: 15px;">Политика конфиденциальности</a>
        </div> *@
    </div>
</footer>