@page "/"

<PageTitle>Логопед-педагог | Логопедия без границ</PageTitle>

<HeroSection />
<AboutSection />
<ReviewsSection />
<BlogSection />
<ContactsSection />

<button id="scrollToTop" onclick="scrollToTop()" aria-label="Наверх">
    <i class="fa-solid fa-chevron-up"></i>
</button>